.DS_Store
node_modules
/dist
/coverage
*.tsbuildinfo

# local state
/.wgs

# local env files
.env.local
.env.*.local
**/mockignore.js
build/env.js
package-lock.json
yo-*.*
temp

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
